<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= name %></p>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
        <!--<a href="/public/chess.html">Chess</a>-->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    </body>
</html>










